@font-face {
  font-family: Fuzzy;
  src: url("fonts/FuzzyBubbles-Bold.ttf");
}

:root {
  --boardHeight : 98vh;
  --keyNos : 10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fuzzy;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.board {
  width: 90vw;
  position: absolute;
  height: var(--boardHeight);
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid;
  border-radius: 0.5rem;
  background: black;
  padding-left: 0.25rem;
  anchor-name: --board;
}

.key.white {
  background-image: linear-gradient(to right, hsla(0, 0%, 90%, 1), hsla(0, 0%, 98%, 1), hsla(0, 0%, 90%, 1));
  width: 70%;
  height: calc((var(--boardHeight) - 4px)/var(--keyNos));
  border: 1.5px solid;
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
}

.keyName {
  transform: rotate(90deg) translateY(25%);
  width: calc((var(--boardHeight) - 4px)/var(--keyNos));
  transform-origin: center;
  text-align: center;
}

.pressed.white {
  box-shadow: 0 0 15px hsla(0, 0%, 40%, 1) inset;
  border: 3px solid;
}

.pad {
  position-anchor: --board;
  position-area: start end;
  position: absolute;
  height: calc(((var(--boardHeight) - 4px)/var(--keyNos))*52);
  top: 0;
  right: 0;
  width: 40%;
  background: black;
  z-index: 9999;
}

.key.black {
  background-image: linear-gradient(to right, hsla(0, 0%, 20%, 1), hsla(0, 0%, 5%, 1), hsla(0, 0%, 0%, 1));
  position: absolute;
  width: 70%;
  height: calc((var(--boardHeight) - 4px)/var(--keyNos));
  border: 2px solid black;
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
  color: white;
  transform: translateX(25%) translateY(-50%) scale(0.75);
  box-shadow: 0 0 15px hsla(0, 0%, 40%, 1) , 0 0 15px hsla(0, 0%, 40%, 1) inset;
}

.pressed.black {
  box-shadow: 0;
  border: 1.5px solid black;
  transform: translateX(25%) translateY(-50%) scale(0.7);
}